div.sidebar {
  float: left;
  width: 20%;
  background: lightgrey;
  padding: 10px;
  padding-left: 60px;
}

div.dashboard {
  float: left;
  width: 80%;
  background: whitesmoke;
}

div.dashboard h3 {
  text-align: center;
}

ul.dashboard-menu {
  padding: 0;
  margin: 0;
}

li.menu-item {
  list-style: none;
}

li.menu-item a {
  display: inline-block;
  text-decoration: none;
  color: black;
  padding: 5px;
}

li.menu-item a:hover {
  color: rgb(94, 91, 91);
}